html{
  overflow-x: hidden;
}

/* Loading screen */

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-vid{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
}

.btn-shine{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine{
  0%{
    background-position: 1px
  }

  60%{
    background-position: 200px
  }

  100%{
    background-position: 250px
  }
}

body.loading {
  overflow: hidden;
}



/* Scrollbar style */

/* Firefox */

* {
  scrollbar-width: auto;
  scrollbar-color: #ffae00 #3b3b3b;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #0F0F0F;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffae00;
  border-radius: 8px;
  border: 2px solid #2d2a25;
}




/* About us style */
.bg-image {
  background-image: url('./images/backgrounds/bg-about.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.image-container {
  width: 50%;
  background-attachment: fixed;
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#aboutus {
  justify-content: center;
  align-items: center;
}

.text-white {
  color: white;
}

@media (max-width: 768px) {
  #aboutus {
    flex-direction: column-reverse;
  }

  .bg-image{
    height: 35vh;
  }

  .text-container{
    height: -moz-fit-content;
    height: fit-content;
  }
}




/* Gallery Swiper */
swiper-container {
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 50%;
  width: 60%;
}

.mySwiper2 {
  max-height: 15%;
  width: 60%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 1000%;
  opacity: 0.7;
  cursor: pointer;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  display: sw </swiper-slidek;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


/* For tablet's*/
@media screen and (max-width: 1024px) {
  .swiper-container {
    width: 90%;
  }

  .mySwiper {
    width: 100%;
  }

  .mySwiper2 {
    height: 25%;
    width: 100%;
  }
}

/* For mobile */

@media screen and (max-width: 768px) {
  .swiper-container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }

  .mySwiper {
    width: 98%;
    height: -moz-fit-content;
    height: fit-content;
  }

  .mySwiper2 {
    height: 25%;
    width: 98%;
  }

  .mySwiper2 .swiper-slide {
    width: 50%;
  }

  swiper-slide img {
    display: sw </swiper-slidek;
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}


/* Background's images */
.bgnews-img{
  background-image: url(./images/backgrounds/by1.webp);
}

/* .bgimg-gallery{
  background-image: url(./images/backgrounds/by2.webp);
} */

.big-logo{
  background-image: url(./images/icons/logo-small.webp);
}



/* Product swiper */
.productSwiper {
  width: 80%;
  height: 600px;
  padding-bottom: 20px;
  justify-content: center;
}

.product-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: #8b8b8b !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}


@media screen and (max-width: 1150px){
  .productSwiper{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .swiper-buttons-box{
    visibility: hidden;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

